body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(40,46,64);
  color: #ffffff;
  text-align: center;
  }

.nav-bar {
  padding: 10px;
}
  
.splash-screen {
  height: 100vh;  
}
  
.splash-screen h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.splash-screen p {
  font-size: 1.2rem;
}

.video-container {
  padding: 50px 0px;
}

.signup-container {
  padding: 50px;
}

input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #e45a50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #ff2600;
}

.footer{
  justify-content: center;
  align-items: center;
}

  
