body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(40,46,64);
  color: #ffffff;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2{
  font-size: x-large;
}

nav-bar img {
  wight: 125px;
  padding-top: 50px
}
  
.splash-screen {
  height: 500px;  
}
  
.splash-screen h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.splash-screen p {
  font-size: 1.8rem;
}

.video-container {
  padding: 50px 0px;
}

.faq-container{
  height:250px;
}

.signup-container {
  height: 250px;
  padding: 10px;
}


input[type="email"] {
  padding: 10px;
  border-radius: 20px;
}

button[type="submit"] {
  background-color: #ff2f58;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

footer{
  justify-content: center;
  align-items: center;
}

  
